<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
            <h1 class="display-1 text-center">think<span class="text-success">budget</span></h1>
            <h1 class="display-4 text-end fw-light">think <span class="text-success">money</span>.</h1>
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="display-5">Make...</h1>
                    <p>Make your budget using our handy budget creation tool.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="display-5">Maintain...</h1>
                    <p>Link your profile with a database so that you can save your transactions to keep track of your spending.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="display-5">Mature...</h1>
                    <p>Work toward hitting your budgeting goals and watch your money grow!</p>
                </div>
            </div>
        </div>
    </div>
</div>
