<!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">t<span class="text-success">b</span></a>
        <form class="d-flex align-items-center">
            <label for="profile" class="me-2">Profile:</label>
            <select name="profile" id="profile" class="form-select me-2">
                <option value="">N/A</option>
            </select>
            <button class="btn">
                <svg class="bi" width="24" height="24" fill="currentColor">
                    <use xlink:href="assets/bootstrap-icons.svg#plus-circle"/>
                </svg>
            </button>
        </form>
    </div>
</nav>
